body {
	padding-top:70px
}

.glyphicon-red {
	color: red;
}

.glyphicon-xl {
  font-size: 100px;
}
@media (min-width: 992px) and (min-height: 550px) {
  .position-bottom {
    margin-top: 225px;
  }
  .glyphicon-xl {
    font-size: 150px;
  }
}

.div-nav {
  color: #000;
}
.div-nav:hover {
  color: #555;
  text-decoration: none;
}